#requirements.txt
snowflake-connector-python
snowflake-snowpark-python
streamlit==1.31.1
import requests
fruityvice_response = requests.get("https://fruityvice.com/api/fruit/watermelon")
st.text(fruityvice_response)
